<div class="main-container flex flex-col m-0 p-0 w-100">
  <div class="header h-25 w-full bg-gray-500 flex justify-between items-center p-6">
    <div class="logo">
      <h1 class="font-mono font-black text-2xl text-white">
        The Clubhouse
      </h1>
    </div>
    <div class="search text-lg">
      <%= form_tag "/posts", method: "GET" do %>
        <%# <%= label_tag :search_post %> 
        <%= text_field_tag :search_post, nil, placeholder: "Search Posts", class: "bg-white focus:outline-none focus:shadow-outline border border-gray-600 rounded-xl py-2 px-4 block appearance-none leading-normal text-right"%>
        <% submit_tag "Search" %>
      <% end %>
    </div>
    <div class="current-user">
      <% if current_user %>
      <p><%= current_user.username %></p>
      <p><%= link_to 'Create New Post', new_post_path %></p>
      <% else %>
      <p>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'Sign in', new_user_registration_path %>
      </p>
<% end %>

    </div>
  </div>
  <div class="content  justify-center grid gap-5 grid-cols-4">
      <div class="posts col-span-3">
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="bg-white shadow-md rounded p-4 m-4">
              <div class="post-header flex items-start">
                <div class="title-username flex">
                  <h1 class="text-xl font-bold pl-0">
                    <%= post.title %> 
                  </h1>
                  <p>
                     (<%= link_to post.user.username, user_path(post.user) %>)
                  </p>
                </div>
                <p class="text-right ml-auto">
                  Posted on <%= post.created_at.strftime("%B %d, %Y") %>
                </p>
              </div>
              <hr>
              <p class="">
                <%= post.body %>
              </p>
            </div>
          <% end %>
        <% end %>
     </div>
     <div class="advert bg-slate-100 p-5 col-span-1">
       <%= link_to "advertisement", "https://www.example.com" %>
     </div>

  </div>
  <div class="footer"></div>
</div>
